
main {
    display: flex;
    padding: var(--common-padding);
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    width: 100%;
    background-image: url("https://mydukaan.io/_next/static/media/banner-home-main.ebd707dd321420dd97b2e08e0aa39020.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
  
  .hero-right {
    flex-shrink: 0;
    width: 50vw;
  }
  
  .hero-right img {
    width: 100%;
  }
  
  .available-on {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  